h1{
  /* background-color: lightsalmon; */
  text-align: center;
  font-size: 35px;
  color: black;
  font-style: normal;
}

.image { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  justify-content: center;
}


#info {
  font-size: 22px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

#info-2 {
  font-size: 22px;
  color: black;
  font-family: 'Times New Roman', Times, serif; 
}

#ingre-con {
 /* background-color: blue; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  margin: 5px;
  gap: 50px;
}


#recipe {
  font-size: 25px;
  color: brown;
  font-style: italic;
}

#prep {
  font-size: 25px;
  color: brown;
  font-style: italic;
}


.steps {
  font-size: 20px;
  color: brown;
  font-style: italic;
}


section{
  margin: 5px;
  padding: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: ghostwhite;
  
}

.facts a{
  color: gray;
  font-size: 20x;
  text-decoration: none;
}

.facts a:hover {
  color: blue;
  width: 50px;
}

#n-facts {
  background-color: lightgray;
  border: none;
  padding: 5px 20px;
  margin: 10px 2px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  display: inline-grid;

}

button {
  background-color: lightgray;
  border: none;
  color: black;
  padding:5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-grid;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button a {
  text-decoration: none;
}
 
.overview {
  /* background-color: brown; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.components {
 /* background-color: black; */
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}