/* ID selector */

#info {
  font-size: 25px;
  color: black;
  font-style: italic;
}

#info-2 {
  font-size: 25px;
  color: black;
  font-style: italic;
}

#recipe {
  font-size: 20px;
  color: brown;
  font-style: italic;
}

#prep {
  font-size: 20px;
  color: brown;
  font-style: italic;
}

/* Class selector */

.steps {
  font-size: 20px;
  color: brown;
  font-style: italic;
}

/* Element selector */
section{
  margin: 10px;
  padding: 15px;
  
}